.EightBall{
    width: 500px;
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 50px;
}
.EightBall-ball{
    width: 100%;
    height: 100%;
    border-radius: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: background-color 500ms ease-out;
}
.EightBall-ball:hover{
    cursor: pointer;
}
.EightBall-answer{
    color: white;
    font-size: 50px;
    margin:0px auto;
    width: 300px;
}

.EightBall-black{
    background-color: black;
}
.EightBall-green{
    background-color: green;
}
.EightBall-goldenrod{
    background-color: goldenrod;
}
.EightBall-red{
    background-color: red;
}

.EightBall-button{
    width: 100%;
    padding-top: 40px;
    text-align: center;
}
.EightBall-button button{
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 30px;
    border: 2px black solid;
}
.EightBall-button button:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
}

.EightBall-record{
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}
.EightBall-record-green{
    color: green;
}
.EightBall-record-goldenrod{
    color: goldenrod;
}
.EightBall-record-red{
    color: red;
}